/** {
	outline: 1px solid red;
}*/

body {
	background-color: black;
}

p {
	font-family: 'Bangers', cursive;
	font-size: 30px;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.hadouken,
.logo, 
.ryu-ready, 
.ryu-still, 
.ryu-cool,
.ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken {
	background-image: url(../images/hadouken.gif);
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: -76px;
	left: -212px;
	float: left;
}

.text {
float: right;
}

.instructions,
.logo {
	display: none;
	width: 500px;
	height: 250px;
	position: relative;
	top: 95px;
	right: 100px;
}

.ryu {
	float: left;
}

.ryu-still,
.ryu-ready,
.ryu-cool,
.ryu-throwing {
	width: 659px;
	height: 494px;
}

.ryu-ready,
.ryu-cool,
.ryu-throwing {
	display: none;
}

.ryu-still {
	background-image: url(../images/ryu-standing-still.png);
}

.ryu-ready {
	background-image: url(../images/ryu-ready-position.gif);
}

.ryu-throwing {
	background-image: url(../images/ryu-throwing-hadouken.png);
}

.ryu-cool {
	background-image: url(../images/ryu-cool.gif);
}

.logo {
	background-image: url(../images/street-fighter-logo.png);
}
